
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1, h2, h3, h4, h5, h6, .brand{
    font-family: 'Open Sans', sans-serif;
}

.header-img {
    height: 200px;
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-attachment: fixed;
    background-size: 1200px;
    background-position: center;
}

.red {
    color: #ea4335;
}
.blue {
    color: #4285F4;
}
.green {
    color: #34A853;
}
.yellow {
    color: #FBBC05;
}